
.navbar, .data{
    margin-left: 20rem;
}

.mobileNavbarWrapper{
    display: none;
}


@media (max-width: 414px) {
.mobileNavbarWrapper{
    display: block;
}
    .sidebar {
      display: none;
    }

.navbar{
    display: none;
}

.mobileNavbarWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
  }
    .data{
        margin-left: 0.8rem;
       
    }  

}